<!doctype html>
<html lang="pt">
<head>
    <title>Perdidos e Achados Angola &mdash; developed by Kawakuticode</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/custom-bs.css">
    <link rel="stylesheet" href="static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="static/fonts/line-icons/style.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/animate.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body id="top">


<div class="site-wrap">
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <!--  <div class="site-logo col-6"><a href="index.html">Perdidos & Achados</a></div> -->

                <nav class="mx-auto site-navigation">
                    <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
                        <li><a href="{{ url_for('home') }}" class="nav-link active">Home</a></li>
                        <li><a href="{{ url_for('lost') }}">Perdidos</a></li>
                        <li><a href="{{ url_for('found') }}">Achados</a></li>
                        <li><a href="{{ url_for('about') }}">Como funciona</a></li>
                        <li><a href="{{ url_for('add') }}">Anunciar</a></li>
                        <li class="d-lg-none"><a href="{{ url_for('contact') }}">Contacte-nos</a></li>
                    </ul>
                </nav>

                <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                    <div class="ml-auto">
                        <a href="{{ url_for('contact') }}"
                           class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span
                                class="mr-2 icon-paper-plane"></span>Contacte-nos</a>
                    </div>
                    <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span
                            class="icon-menu h3 m-0 p-0 mt-2"></span></a>
                </div>

            </div>
        </div>
    </header>

    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image"
             style="background-image: url('/static/images/hero_1.jpg');"
             id="home-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="mb-5 text-center">
                        <h1 class="text-white font-weight-bold">Oops!</h1>
                        <h3 class="text-white">404 pagina nao encontrada</h3>
                        <h3 class="text-white">pagina procurada deve ter sido removida ou temporariamente
                            inacessivel</h3>
                    </div>
                    <div class="align-self-center  mb-lg-0">
                        <button type="button" value="{{ url_for('home') }}"
                                class="btn btn-primary btn-block text-white btn-search">
                            <span class="icon-search icon mr-2"></span>retornar home-page
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="py-5 bg-image overlay-primary fixed overlay"
             style="background-image: url('/static/images/hero_1.jpg');">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2 text-white">Estatisticas</h2>
                    <p class="lead text-white">Estatistica sobre items perdidos e achados</p>
                </div>
            </div>
            <div class="row pb-0 block__19738 section-counter">
                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <strong class="number" data-number={{ lost|count }}>{{ lost|count }}</strong>
                    </div>
                    <span class="caption">Perdidos</span>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <strong class="number" data-number={{ found|count }}>{{ found|count }}</strong>
                    </div>
                    <span class="caption">Achados</span>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <strong class="number" data-number={{ docs|count }}>{{ docs|count }}</strong>
                    </div>
                    <span class="caption">Documentos</span>
                </div>

                <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <strong class="number" data-number={{ others|count }}>{{ others|count }}</strong>
                    </div>
                    <span class="caption">Diversos</span>
                </div>
            </div>
        </div>
    </section>


    <section class="site-section py-4 mb-5 border-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-center mt-4 mb-5">
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <h2 class="section-title mb-2">Seja um bom cidadao!</h2>
                            <p class="lead">Encontrou algo?Leve a esquadra mais proxima ou adicione a nossa pagina</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 bg-image overlay-primary fixed overlay"
             style="background-image: url('/static/images/hero_1.jpg');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h2 class="text-white">Perdeu algo ? Encontrou algo ?</h2>
                    <p class="mb-0 text-white lead">anuncie aqui!!</p>
                </div>
                <div class="col-md-3 ml-auto">
                    <a href="{{ url_for('add') }}" class="btn btn-warning btn-block btn-lg">Anunciar</a>
                </div>
            </div>
        </div>
    </section>

    <footer class="site-footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Mais Procurados</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Passaportes</a></li>
                        <li><a href="#">Bilhetes de Identidade</a></li>
                        <li><a href="#">Carteiras</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Provincias</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Benguela</a></li>
                        <li><a href="#">Cabinda</a></li>
                        <li><a href="#">Luanda</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Suporte</h3>
                    <ul class="list-unstyled">
                        <li><a href="#">Suporte</a></li>
                        <li><a href="#">Privacidade</a></li>
                        <li><a href="#">Termos de serviço</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-3 mb-4 mb-md-0">
                    <h3>Contacte-nos</h3>
                    <div class="footer-social">
                        <a href="#"><span class="icon-facebook"></span></a>
                        <a href="#"><span class="icon-twitter"></span></a>
                        <a href="#"><span class="icon-instagram"></span></a>
                        <a href="#"><span class="icon-linkedin"></span></a>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-12">
                    <p>
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script>
                        Todos direitos reservados | site feito de <i
                            class="icon-heart-o" aria-hidden="true"></i> por <a href="https://github.com/kawakuticode"
                                                                                target="_blank">Sensei Kulumbia</a>

                    </p>
                </div>
            </div>
        </div>
    </footer>

</div>

<!-- SCRIPTS -->
<script src="static/js/jquery.min.js"></script>
<script src="static/js/bootstrap.bundle.min.js"></script>
<script src="static/js/isotope.pkgd.min.js"></script>
<script src="static/js/stickyfill.min.js"></script>
<script src="static/js/jquery.fancybox.min.js"></script>
<script src="static/js/jquery.easing.1.3.js"></script>

<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/jquery.animateNumber.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>

<script src="static/js/custom.js"></script>


</body>
</html>